*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(3, 3, 3, 0.582);
}
#log{
    padding: 40px;
    border-radius: 5px;
    background-color: rgba(37, 45, 92, 0.664);
    color: #fff;
    gap: 40px;
}
button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
#log h1{
    text-align: center;
}
#info{
    width: 300px;
    margin-top: 25px;
}
main{
    position: relative;
    max-width: max-content;
    margin: auto;
    display: flex;
    margin-top: 10%;
    background-color:  rgb(105, 105, 204);
    padding: 30px;
    color: #fff;
}
form{
    display: flex;
    flex-direction: column;
    color: #fff;
}
input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 3px;
}
#btn{
    background-color: rgb(125, 125, 231);
    color: white;
    margin: auto;
    cursor: pointer;
    height: 40px;
}
#btn:hover{
    background-color: blue;
    transition: .5s;
}